<div class="image-container" >
    <img src="assets/logo.jpeg" alt="Logo" class="full-screen-image" />
    <div class="text-overlay">
      <p>_______ COMMITTED TO SUCCESS</p>
      <h1>WE CARE ABOUT</h1>
      <h1>YOUR <span class="health-color">HEALTH</span></h1>
      <p>"Empowering healthcare with innovation and care."</p>
      <fa-icon [icon]="faHeartPulse" size="3x" style = "margin-right: 10px; right: 2px;"></fa-icon>
    </div>
  </div>
  
  <div class="text" >
    <h1>Overview of the Best Multispecialty Hospital</h1>
  
  <p>We have been dedicated to providing exceptional healthcare since 1990. We specialize in healthcare, and in the last 33 years, we have helped more than <strong>10,60,000+ patients</strong> across <strong>9 countries</strong> and <strong>24 states of India</strong> to recover from critical diseases.</p>
  
  <p>Adding to it, our experts have performed more than <strong>77,000+ successful surgeries</strong>.</p>
  
  <p>We were the first private hospital in Rajasthan to start critical care, ICU on wheels, and NICU services.</p>
  
  <div class="card-container">
  
    <div class="card">
      <div class="card-inner">
        <div class="card-front">
            <fa-icon [icon]="faHeartPulse" size="3x"></fa-icon>
          <h3>Specialized Therapy & Support</h3>
          <p>We offer high-quality healthcare under the care of specialized professional, ensuring
            you get the desired outcomes.
          </p>
        </div>
        <div class="card-back">
          <p>With our dedicated rehabilitation services, we have been transforming the life of 
            many patients and impacting them positively.</p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-inner">
        <div class="card-front">
            <fa-icon [icon]="faStethoscope" size="3x"></fa-icon>
          <h3>Diagnosis & Investigation</h3>
          <p>We are regarded best hospital due to our dedication to providing apt and quality diagnosis 
            and investigation to our patients.</p>
        </div>
        <div class="card-back">
          <p>As soon as you reach out to us, our team will ensures that you get the best possible
            treatment with apt diagnosis and investigation.</p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-inner">
        <div class="card-front">
            <fa-icon [icon]="faSuitcaseMedical" size="3x"></fa-icon>
          <h3>Medical Treatment & Surgical</h3>
          <p>We boast a team of experts who are trained in offering a wide range of medical treatments and Surgical
            procedures that make us the preferred choice among others.
          </p>
        </div>
        <div class="card-back">
          <p>Our team of experts is board-certified and experienced in offering result-based treatments 
            and surgical procedures.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Feedback Cards Section -->
 <div class="Feedback">
    <h1>Patient testimonals</h1>
  <div class="feedback-cards-container">
    <div class="feedback-card">
      <fa-icon [icon]="faComment" size="3x" style="color: #43A6C6;"></fa-icon>
      <h3>Excellent Service</h3>
      <p>"The hospital staff was incredibly caring and attentive. My treatment was thorough, and I felt safe throughout my visit."</p>
    </div>
  
    <div class="feedback-card">
      <fa-icon [icon]="faComment" size="3x" style="color: #43A6C6;"></fa-icon>
      <h3>Compassionate Care</h3>
      <p>"The doctors were not only experts in their field but also empathetic and kind. They made me feel comfortable throughout my treatment."</p>
    </div>
  
    <div class="feedback-card">
      <fa-icon [icon]="faComment" size="3x" style="color: #43A6C6;"></fa-icon>
      <h3>Great Experience</h3>
      <p>"I received prompt and efficient treatment. The hospital environment was clean and welcoming. I highly recommend it."</p>
    </div>
  
    <div class="feedback-card">
      <fa-icon [icon]="faComment" size="3x" style="color: #43A6C6;"></fa-icon>
      <h3>Great Experience</h3>
      <p>"I received prompt and efficient treatment. The hospital environment was clean and welcoming. I highly recommend it."</p>
    </div>
  </div>
  </div>
  